<%= form_for(@link) do |f| %>
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div class="form-group">
    <%= f.label :vote %>
    <%= f.text_field :vote %>
  </div>
  <div class="form-group">
    <%= f.label :datetime %>
    <%= f.text_field :datetime %>
  </div>
  <%= f.submit(:class => "btn btn-danger") %>
<% end %>
