<h1>Links</h1>

<ul>
  <% @links.each do |link| %>
    <li><%= "#{link.link} - #{link.vote} - #{link.date}" %>
     <%= link_to "Add Comment", new_comment_path, :class=> "btn btn-default btn-sm" %>
      <%= link_to "Edit",edit_link_path(link), :class=> "btn btn-default btn-sm" %>
       <%= link_to "Delete", link_path(link), :data => {:confirm => "You sure?",
        :method => "delete"}, :class => "btn btn-danger" %></li>
  <% end %>
</ul>

<%= link_to "New Link", new_link_path, :class=> "btn btn-success" %>
